<% provide(:title, 'Home') %>
<%= will_paginate @blogs %>  
  <% @blogs.each do |blog| %>
    <div>
      <h3 class="title"><%= blog.title %></h3>
      <span class="timestamp">
        <%= time_ago_in_words(blog.created_at) %> ago
      </span>
      <span class="label label-primary"><%= blog.resource_type.name %></span>
      <span class="label label-success"><%= blog.blog_type.name %></span>
      <div class="content">
        <%= raw blog.content %>  
      </div>
    </div>
    <br>
  <% end %>
<%= will_paginate @blogs %>
