<% provide(:title, 'Home') %>
<%= will_paginate @blogs %>  
  <% @blogs.each do |blog| %>
    <div class="article">
      <h3 class="title"><%= link_to blog.title, blog %></h3>
      <span class="timestamp">
        <%= time_ago_in_words(blog.created_at) %> ago
      </span>

      <span class: "label label-default">
        <%= link_to blog.resource_type.name, action: "category", 
          resource_type: blog.resource_type.id %>  
      </span>      
      <span class: "label label-primary">
        <%= link_to blog.blog_type.name, action: "category", 
          blog_type: blog.blog_type.id %>  
      </span>
      
      <span class="read-count">浏览：<%= blog.read_count/2 %>次</span>
      <div class="content">
        <%= raw blog.content %>  
      </div>
      <p class="ellipsis">......</p>
      
      <%= link_to "阅读全文-->", blog, class: "more" %>
      
    </div>
    <br>
  <% end %>
<%= will_paginate @blogs %>
