<%= provide(:title, "Settings") %>
<h1>Settings</h1>
<div class="settings">
  <%= link_to "Users Management", users_path, class: "btn btn-success active" %><br/>
  <%= link_to "Modify password", edit_user_path(current_user), class: "btn btn-success active" %><br/>
  <%= link_to "Resource Type", resource_types_path, class: "btn btn-success active" %><br/>
  <%= link_to "Blog Type", blog_types_path, class: "btn btn-success active" %><br/>
</div>