<h1>Resource Types</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Blogs</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resource_types.each do |resource_type| %>
      <tr>
        <td><%= link_to resource_type.name, resource_type %></td>
        <td>
          <%= Blog.where(resource_type: resource_type).count %></td>
        <td><%= link_to 'Edit', edit_resource_type_path(resource_type) %></td>
        <td><%= link_to 'Destroy', resource_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Type', new_resource_type_path, class: "btn btn-success active" %>