<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :resource_type %>
    <% ResourceType.all.each do |t| %>
      <%= f.radio_button :resource_type, "#{t.name}", class: "form-control input-sm", 
        checked: resource_checked?(@blog, t.name) %>
      <span><%= t.name %></span>
    <% end %>
    <br/><br/>
    <!-- <%= f.select :resource_type, ResourceType.all.map { |t| t.name }, 
      prompt: "Select a type", class: "form-control input-sm" %> -->
    <%= f.label :blog_type %>
    <% BlogType.all.each do |t| %>
      <%= f.radio_button :blog_type, "#{t.name}", class: "form-control input-sm", 
        checked: blog_checked?(@blog, t.name) %>
      <span><%= t.name %></span>
    <% end %>
    <br/><br/>
    <!-- <%= f.select :blog_type, BlogType.all.map { |t| t.name }, 
      prompt: "Select a type", class: "form-control input-sm" %> -->
    <%= f.label :title %>
    <%= f.text_field :title %>
    
    <%= f.label :content %>
    <%= f.kindeditor :content %>
    
    <%= f.submit class: "btn btn-large btn-primary"%>
<% end %>
