<h1>Blogs Management</h1>

<%= link_to 'New Blog', new_blog_path, class: "btn btn-success active" %>
<div class="blogs table-responsive">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Resource Type</th>
      <th>Blog Type</th>
      <th>Read Count</th>
      <th></th>
    </tr>
  </thead>

  <tbody>  
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= link_to blog.title, blog %></td>
        <td><%= blog.resource_type.name %></td>
        <td><%= blog.blog_type.name %></td>
        <td><%= blog.read_count %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
</div>
<%= link_to 'Source Type', resource_types_path, class: "btn btn-success" %>
<%= link_to 'Blog Type', blog_types_path, class: "btn btn-success" %>
<br>
