<h1>Blog Types</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Blogs</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blog_types.each do |blog_type| %>
      <tr>
        <td><%= link_to blog_type.name, blog_type %></td>
        <td><%= Blog.where(blog_type: blog_type).count %></td>
        <td><%= link_to 'Edit', edit_blog_type_path(blog_type) %></td>
        <td><%= link_to 'Destroy', blog_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New type', new_blog_type_path, class: "btn btn-success active" %>